<div class="container">
  <h1 class="mt-2">Prueba Front end Angular</h1>
  <h4 class="mt-5">Tipo de trámite</h4>
  <div class="row">
    <div class="col-lg-6">
      <label class="label-form mb-2">Seleccione el tipo de trámite</label>
      <select class="form-select square-border square-border-secondary" (change)="onChange($event)">
        <option value="-1">Seleccione</option>
        <option value="vialidad">Vialidad</option>
        <option value="solvencia">Solvencia</option>
      </select>
    </div>
  </div>

  <div class="row mt-4" *ngIf="selectedOption">
    <h4 class="text-with-icon">
      Requisitos para el trámite seleccionado:
      <i class="bi bi-question-circle custom-blue"></i>
    </h4>

    <div class="row">
      <div class="card border-0">
        <div class="card-header text-white p-3 bg-custom">
          <i class="bi bi-exclamation-triangle-fill"></i> Para solicitar trámite
          de vialidad, suministre plantilla en formato Excel.
        </div>
        <div class="card-body custom-border-red">
          <li>Cargar plantilla de Vialidad</li>
          <li>Persona jurídica</li>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4" *ngIf="selectedOption" >
    <h5>Cargue archivo de vialidad a generar:</h5>
    <div class="d-flex gap-2 mt-2">
      <input type="file" id="archivo" accept=".csv, .xls, .xlsx" style="display: none" (change)="validateFile($event)" />
      <app-button class="" type="button" [bgColor]="'bg-white'" [leyenda]="'Descargar plantilla'" (buttonClick)="exportToExcel()" *ngIf="botonDescargar"></app-button>
      <app-button type="button" [bgColor]="'bg-blue'" [leyenda]="'Cargar documento'" (buttonClick)="guardarExcel()" *ngIf="botonDescargar"></app-button>
      <app-button type="button" [bgColor]="'bg-white'" [leyenda]="'ATRÁS'"  routerLink="/" ></app-button>
    </div>
  </div>

  <div class="row mt-4" *ngIf="botonesCompletado" >
    <h5>VIALIDADES A GENERAR: {{cantidadVialidades}}</h5>
    <div class="d-flex gap-2 mt-2">
      <span>Confirme que se capturaron todos los datos de vialidad: </span>
      <input type="file" id="archivo" accept=".csv, .xls, .xlsx" style="display: none" (change)="validateFile($event)" />
      <app-button type="button" [bgColor]="'bg-white'" [leyenda]="'Volver a cargar'" (buttonClick)="guardarExcel()" ></app-button>
      <app-button type="button" [bgColor]="'bg-blue'" [leyenda]="'Ir a pagar'" (buttonClick)="showPay()" [disabled]="cargaIncompleta" ></app-button>
      <app-button type="button" [bgColor]="'bg-white'" [leyenda]="'ATRÁS'" routerLink="/"></app-button>
    </div>
  </div>

  <div class="row mt-3 mb-5" *ngIf="botonesCompletado">
    <div class="table-responsive">
      <ng-container *ngIf="excelData.length > 0">
        <table class="table table-striped table-bordered">
          <thead class="custom-thead">
            <tr>
              <th></th>
              <th>Correlativo</th>
              <th>Número de NIT del empleado</th>
              <th>Número de DUI del empleado</th>
              <th>Dirección de residencia</th>
              <th>Nombres</th>
              <th>Apellidos</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of excelData | paginate: { itemsPerPage: 10, currentPage: p }">
              <td>
                <span *ngIf="row.hasError" class="">
                  <i class="icon-error error-icon bi bi-exclamation-circle-fill"></i>
                </span>

              </td>
              <td>{{ row.Correlativo }}</td>
              <td>{{ row.NumeroDeNitDelEmpleado }}</td>
              <td>{{ row.NumeroDeDuiDelEmpleado }}</td>
              <td>{{ row.DireccionDeResidencia }}</td>
              <td>{{ row.Nombres }}</td>
              <td>{{ row.Apellidos }}</td>
            </tr>
          </tbody>
        </table>
        <div class="d-flex justify-content-end">
          <pagination-controls (pageChange)="pageChanged($event)" previousLabel="&lt;" nextLabel="&gt;"></pagination-controls>
        </div>
      </ng-container>
    </div>
  </div>
</div>
