.custom-border-red {
  border: 1px solid #E2574C;
}
.custom-blue {
  font-size: 1.9rem;
  color: #009FE3;
}

.text-with-icon {
  display: flex;
  align-items: center;
  gap: 10px;
}



.bg-custom{
  background-color: #E2574C;
}

.custom-thead th {
  color: white;
  background-color: var(--primary-color);
  padding: 10px;
  font-size: 16px;
}
