<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="card overall animation-op-90 op-100 rounded-3 shadow">
        <h3 class="text-center text-dark pt-4">¡Bienvenido al sistema de gestión de tramites!</h3>
        <div class="card-body bg-white rounded-3 pt-4 d-flex justify-content-center">
          <h6 class="card-title text-center text-secondary border-end border-2 px-2">
            1. Completa los datos necesarios para completar tu tramite.
          </h6>
          <h6 class="card-text text-secondary text-center border-end border-2 px-2">
            2. Al terminar de crearlos puede confirmar tu pago.
          </h6>
        </div>
        <a routerLink="/tramite" class="btn btn-custom shadow-primary">¡Comenzar tramite!</a>
      </div>


    </div>
    <div class="col-5">
          <img src="/assets/intro-img.svg" alt="" width="800" height="800">
    </div>
  </div>
</div>
